# ===========================
# Build
# ===========================
bin/
obj/

# ===========================
# Visual Studio
# ===========================
.vs/

# ===========================
# Visual Studio Code
# ===========================
.vscode/

# ===========================
# Rider
# ===========================
.idea/

# ===========================
# User files
# ===========================
*.user
*.suo
*.userosscache
*.sln.docstates

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Temporary files
# ===========================
*.tmp
*.temp

# ===========================
# Operating System
# ===========================
Thumbs.db
Desktop.ini
.DS_Store